spring.main.allow-bean-definition-overriding=true

# Delete check Thymeleaf
spring.thymeleaf.check-template-location=false


## Swagger UI custom path
springdoc.swagger-ui.path=/docs

# Security
## JWT
jwt.secret.access=d99db25e330d8a28d00cba469b6fcafa4baa84b454c914ec6fffb7000591d50e
jwt.secret.refresh=d413e7f3bae2fd3a26d823b54d5442f7df5efcd5516f3509acf49813c8af14f7
### Expiration in seconds
jwt.expiration.access=450
jwt.expiration.refresh=2592000


# for Put/Patch/Delete request
spring.mvc.hiddenmethod.filter.enabled=true

